
@{
    ViewBag.Title = "BuscarCursosEmpleado";
}

<h2>Buscar Cursos</h2>
@using (Html.BeginForm("VerCursosEmpleado", "EmployeeCourse"))
{
    <h3>Ingrese Número de Reloj</h3>
    <input type="number" class="form-control" name="numReloj" required />
    <h1></h1>
    <input type="submit" class="btn btn-success" value="Buscar" />
}